<%= render '/layouts/header_rumeur' %>

<img class="image-banner" src="https://cdn-images-1.medium.com/max/2000/1*g6jotLCyyrPKxoJTMvfjow.png">

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"33a84ccc3ae00731c763d8ca6","lid":"0703bcc35b","uniqueMethods":true}) })</script>

<h1 class="text-center mt-5">The Gossip Blabla</h1>
