<body id="mangabody">
    <%= render '/layouts/header_manga' %>

<img class="image-banner" src="http://anband.spb.ru/images/400/DSC100496917.jpg">

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"06a91f2309861a1beb24f2e43","lid":"cba41f7c72","uniqueMethods":true}) })</script>

<h1 class="text-center mt-5">Manga fansub</h1>
</body>
